/* undoreset */

/* Strong and em */
.undoreset strong, .undoreset th { font-weight: bold; }
.undoreset em, .undoreset address, .undoreset caption, .undoreset cite { font-style: italic; }
/* Table */
.undoreset table { display: table; border-spacing: 2px; border-collapse: separate; }
.undoreset tr { display: table-row; vertical-align: inherit; }
.undoreset td { display: table-cell; border-spacing: 2px; padding: 2px; vertical-align: inherit; text-align: inherit; padding: 1px; border-collapse: none; }
.undoreset th { display: table-cell; vertical-align: inherit; font-weight: bold; padding: 1px; border-collapse: none; }
/* Block Items */
.undoreset p { display: block; margin: 1em 0; }
.undoreset blockquote { display: block; margin: 1em 40px; }
.undoreset address { display: block; font-style: italic; }
.undoreset center { display: block; text-align: center; }
/* Headers */
.undoreset h1 { display: block; font-size: 2em; font-weight: bold; margin: .67em 0; }
.undoreset h2 { display: block; font-size: 1.5em; font-weight: bold; margin: .83em 0; }
.undoreset h3 { display: block; font-size: 1.17em; font-weight: bold; margin: 1em 0; }
.undoreset h4 { display: block; font-weight: bold; margin: 1.33em 0; }
.undoreset h5 { display: block; font-size: 0.83em; font-weight: bold; margin: 1.67em 0; }
.undoreset h6 { display: block; font-size: 0.67em; font-weight: bold; margin: 2.33em 0; }
/* Lists */
.undoreset ul { display: block; list-style-type: disc; margin: 1em 0; padding-left: 40px; }
.undoreset ol { display: block; list-style-type: decimal; margin: 1em 0; padding-left: 40px; }
.undoreset li { display: list-item; }

/* Avatar Lists*/
.x-list div.avatar-list-item {
    position: relative;
    padding: 0px;
}

.x-list div.avatar-list-item img.avatar-img {
    width: 73px;
    height: 73px;
    border: none;
    float: left;
    margin-right: 5px;
}

.x-list div.avatar-list-item img.avatar-img.small {
    width: 48px;
    height: 48px;
}

.x-list div.avatar-list-item .name {
    font-weight: bold;
    padding-top: 5px;
    font-size: 0.7em;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.x-list div.avatar-list-item.attendees .name {
    padding-top: 7px;
    
}

.x-list div.avatar-list-item .date {
    font-size: 0.7em;
    opacity: 0.6;
}
.x-list div.avatar-list-item .techup-disclosure {
    position: absolute;
    top: 23px;
    right: 9px;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #5E7899;
}

.x-list div.avatar-list-item .counter {
    position: absolute;
    top: 3px;
    left: 70px;
    font-size: 11px;
}

/*
.x-list div.avatar-list-item .counter .x-badge {
    background-color: rgba(113, 145, 185, 0.75);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(216, 224, 235, 0.75)), color-stop(2%, rgba(137, 163, 196, 0.75)), color-stop(100%, rgba(90, 126, 173, 0.75)));
    background-image: linear-gradient(rgba(216, 224, 235, 0.75), rgba(137, 163, 196, 0.75) 2%, rgba(90, 126, 173, 0.75));
}
*/
.x-list div.x-item-selected .techup-disclosure {
    -webkit-text-stroke: 2px #fff;
}

/* Pre */
.undoreset pre, .undoreset code { display: block; font-family: Courier New; white-space: pre; margin: 1em 0; }

/* custom stuff */

#mapbutton {
    padding: 1px;
}
#mapbutton img {
    margin: 0;
    width: 290px;
    height: 100px;
}
.avatar {
    width: 73px;
    height: 73px;
    display: block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 0.1em solid #263501;
}
.avatar span {
    display: none;
}

.event-detail-avatar {
	margin-bottom: 10px;
}

.event-detail-buttons .event-detail-button {
	margin-bottom: 10px;
}

.event-detail-button {
	padding: 10px;
	font-size: 1.2em;
}

.event-description {
	padding-right: 15px;
	padding-left: 15px;
}

/* Event Detail */

.event-detail-name img {
    float: left;
    width: 73px;
    height: 73px;
    margin-right: 17px;
}
.x-html .event-detail-name h3 span {
    font-size: 0.7em;
    line-height: 0.7em;
    font-weight: bold;    
}
.x-html .event-detail-name h3 {
    padding-top: 0px;
    margin: 0px 0px 0px 90px;
}

div.clear {
    clear: both;
    height: 10px;
}

/* Title toolbar */
.techup-toolbar .x-toolbar-title {
    text-align: left;
    margin-left: 10px;
}








